<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Cuenta</title>
  <link rel="stylesheet" href="/static/css/estilos.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div class="background"></div>
  <div class="card">
    <img class="logo" src="images.png" alt="Logo">
    <h4>¡Crea tu cuenta!</h4>
    <!-- Formulario de registro -->
    <form id="registerForm">
      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
      <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
      <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
      <button type="submit">Registrarse</button>
    </form>

    <footer>
      ¿Ya tienes cuenta?
      <a href="{{ url_for('show_login_page') }}">Inicia sesion aquí</a>

    </footer>
  </div>

  <script>
    $(document).ready(function() {
      $('#registerForm').submit(function(event) {
        event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

        var nombre = $('#nombre').val();
        var correo = $('#correo').val();
        var contrasena = $('#contrasena').val();

        $.ajax({
         url: '/register', 
         type: 'POST',
         contentType: 'application/json',
         data: JSON.stringify({
         nombre: nombre,
         correo: correo,
         contrasena: contrasena
        }),
 
          success: function(response) {
            if (response.status === 'success') {
              Swal.fire({
                icon: 'success',
                title: '¡Registro exitoso!',
                text: 'Por favor, inicia sesión.',
                confirmButtonText: 'Aceptar'
              }).then(() => {
                window.location.href = '/sesion'; // Redirige a la página de index de sesión
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: response.message,
                confirmButtonText: 'Aceptar'
              });
            }
          },
          error: function(xhr, status, error) {
            Swal.fire({
              icon: 'error',
              title: 'Hubo un error',
              text: error,
              confirmButtonText: 'Aceptar'
            });
          }
        });
      });
    });
  </script>
</body>

</html>