<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Asegúrate de tener SweetAlert2 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Asegúrate de tener jQuery -->
</head>

<body>
  <div class="background"></div>
  <div class="card">
    <img class="logo" src="{{url_for('static', filename='img/logo-img.jpg')}}" alt="Logo">
    <h4>¡Bienvenidos!</h4>
    <form class="form" id="loginForm">
      <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
      <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
    </form>

    <footer>
      ¿No tienes una cuenta?
      <a href="{{ url_for('registrarse') }}">Regístrate aquí</a>
    </footer>
  </div>

  <script>
 
    // Función para manejar el inicio de sesión con AJAX
    $("#loginForm").submit(function(event) {
      event.preventDefault();

      const formData = {
        correo: $("#correo").val(),
        contrasena: $("#contrasena").val()
      };

      $.ajax({
        url: '/authenticate',
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(formData),
        success: function(response) {
          if (response.status === 'success') {
            Swal.fire('Éxito', 'Inicio de sesión exitoso', 'success').then(() => {
              window.location.href = '/index.html'; // Redirige a la página principal
            });
          } else {
            Swal.fire('Error', 'Correo o contraseña incorrectos', 'error');
          }
        },
        error: function(xhr, status, error) {
          console.error("Error en la solicitud:", error);
          Swal.fire('Error', 'Ocurrió un error en el servidor. Inténtalo más tarde.', 'error');
        }
      });

      return false;
    });
  </script>
</body>

</html>



