<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/static/css/estilos.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div class="background"></div>
  <div class="card">
    <img class="logo" src="{{ url_for('static', filename='img/logo-img.jpg') }}" alt="Logo">
    <h4>¡Bienvenido de nuevo!</h4>
    <!-- Formulario de inicio de sesión -->
    <form id="loginForm" onsubmit="return Inicio_sesion()">
      <input type="text" id="correo" name="correo" placeholder="Correo" required>
      <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
    </form>
  
<footer>
  ¿No tienes cuenta?
  <a href="{{ url_for('show_register_page') }}">Regístrate aquí</a>

</footer>
</div>

    <script>
      function Inicio_sesion(){
        $.ajax({
          url: '/authenticate',
          type: 'POST',
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
            correo: $('#correo').val(),
            contrasena: $('#contrasena').val()
          }),
          success: function(data){
            if(data.status === 'success'){
                Swal.fire('Éxito', data.message, 'success');
                if(data.id_rol == 1){
                    window.location.href = '/lugares'; 
                } else if(data.id_rol == 2){
                    window.location.href = '/index';  
                } else {
                    window.location.href = '/';
                }
            } else {
                Swal.fire('Error', data.message, 'error');
            }
        },
          error: function(xhr, status, error){
            console.error("Error en la solicitud: ", error);
            Swal.fire('Error', "Ocurrio un error con el servidor, intentelo mas tarde", 'error');
          }
        });
        return false;
      };
    </script>
</body>
</html>