<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/static/css/estilos.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div class="background"></div>
  <div class="card">
    <img class="logo" src="images.png" alt="Logo">
    <h4>¡Bienvenido de nuevo!</h4>
    <!-- Formulario de inicio de sesión -->
    <form id="loginForm">
      <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
      <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
      <button type="submit">Iniciar sesión</button>
    </form>

    <footer>
      ¿No tienes cuenta?
      <a href="registrarse.html">Regístrate aquí</a>
    </footer>
  </div>

  <script>
    $(document).ready(function() {
      $('#loginForm').submit(function(event) {
        event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

        var correo = $('#correo').val();
        var contrasena = $('#contrasena').val();

        $.ajax({
          url: '/authenticate',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            correo: correo,
            contrasena: contrasena
          }),
          success: function(response) {
            if (response.status === 'success') {
              Swal.fire({
                icon: 'success',
                title: '¡Bienvenido!',
                text: 'Inicio de sesión exitoso.',
                confirmButtonText: 'Aceptar'
              }).then(() => {
                window.location.href = '/index.html'; // Redirige al dashboard
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: response.message,
                confirmButtonText: 'Aceptar'
              });
            }
          },
          error: function(xhr, status, error) {
            Swal.fire({
              icon: 'error',
              title: 'Hubo un error',
              text: error,
              confirmButtonText: 'Aceptar'
            });
          }
        });
      });
    });
  </script>
</body>

</html>
